seaborn==0.11.0
altair==4.1.0
numpy==1.23.1
streamlit==1.32.0
matplotlib==3.3.0
pandas==1.4.3
cython
pulp
streamlit-aggrid
gurobipy
playwright
beautifulsoup4
pymongo
streamlit_pandas_profiling
pandas_profiling
plotly
